.m-body {
    background: #f2f2f2;
}
body.tree-detail-open {
    overflow: hidden!important;
}
.company-main-logo-img {
    max-width: 250px;
}
.m-card-user.m-card-user--skin-dark .m-card-user__details .m-card-user__email {
    color: #ffffff!important;
    background-color: rgba(0, 0, 0, 0.63);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 0 3px;
    margin: 5px;
}
.m-card-user.m-card-user--skin-dark .m-card-user__details .m-card-user__name {
    display: inline-block;
    padding: 2px 5px;
    background-color: #0000008c;
    border-radius: 5px;
    margin: 5px;
}
.m-dropdown.m-dropdown--header-bg-fill .m-masked-dropdown .m-dropdown__header {
    -webkit-mask-image: url("/uploads/mask.png");
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    position: absolute;
    height: 140px;
    top: -9px;
}
.m-dropdown .m-dropdown__wrapper.m-masked-dropdown .m-dropdown__body {
    padding-top: 140px;
}
.m-masked-dropdown .m-card-user {
    padding-top: 15px;
}
.m-dropdown__wrapper.m-masked-dropdown {
    padding-top: 12px!important;
}
.m-dropdown__wrapper.m-masked-dropdown>.m-dropdown__inner {
    position: relative;
}
.m-card-user .m-card-user__pic {
    border-radius: 50%;
    box-shadow: 0px 0px 15px 0 rgba(206, 206, 206, 0.79);
    width: 70px;
    height: 70px;
    padding: 0;
}
.ifund-slider-container {
    padding: 15px;
    background-color: #fff;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.special-tap-container {
    background-image: url('/assets/images/paste-wizard_services.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
    box-shadow: 0px 4px 4px -3px rgba(0,0,0,0.6);
    padding: 10px 20px 20px;
}
.instruction-containers-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.img-container-instruction {
    display: inline-block;
}
.text-container-instruction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 25px;
}
.text-container-instruction>p {
    margin: 0;
    font-family: Verdana;
}
.text-container-instruction>p.title {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #6b2482;
}
.intro-video-container {
    max-width: 70%;
    margin:  0 auto;
}
.some-description-container {
    margin-top: 30px;
    position: relative;
    padding-bottom: 100px;
    text-align: center;
}
.some-description-container>p {
    margin: 0;
    text-align: center;
    font-size: 16px;
    font-family: verdana_bold;
    color: #79056f;
    font-weight: bold;
}
.join-big-img-a {
    display: inline-block;
    width: 130px;
    height: 140px;
    background-image: url('/assets/images/join_brn_none.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 2px;
    right: 10%;
    transition: all .2s ease-out;
}
.join-big-img-a:hover {
    top: 0;
    background-image: url('/assets/images/join_brn_hover.png');
}
.share-social-link-container {
    position: relative;
    max-width: 350px;
    width: 100%;
    height: 87px;
    margin: 0 auto;
}
.share-social-link-container>img {
    width: 100%;
}
.m-nav > .m-nav__item > .m-nav__link.ifundfilms-top-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.m-topbar .m-topbar__nav.m-nav > .m-nav__item {
    padding: 0!important;
}
.m-auth-container {
    padding: 20px;
}
.m-auth-container>.m-login__form.m-form {
    max-width: 350px;
    margin: 0 auto 20px auto
}
.m-auth-container .m-login__form-action {
    text-align: center;
}
.m-auth-container .m-login__title {
    text-align: center;
    margin-bottom: 20px;
}
.m-auth-container .m-login__account {
    margin-top: 20px;
    text-align: center;
}
.contact-container {
    padding: 10px 30px 30px 30px;
}
.contact-single-container {
    max-width: 300px;
    margin: 0 auto;
}
.contact-single-container>p {
    text-align: justify;
    font-family: verdana;
}
.contact-single-container label {
    font-family: verdana;
}
.contact-single-container>p.title-p {
    font-size: 15px;
    font-weight: bold;
    color: #424242;
}
.film-container {
    padding: 10px 30px 30px 30px;
}
.film-container p {
    font-family: verdana;
    font-size: 15px;
    margin: 0;
    line-height: 23px;
    color: #620062;
}
.film-container p.top-title {
    font-size: 17px;
    text-decoration: underline;
    margin-bottom: 30px;
    font-weight: bold;
}
.film-container img {
    width: 100%;
    max-width: 260px;
}
.film-container p.upcoming-role {
    margin-top: 50px;
    font-weight: bold;
    text-align: center;
}
.film-container p.upcoming-role-down {
    text-align: center;
}
.film-container p.how-it-work {
    margin-top: 30px;
}
.profile-container {
    padding: 0 30px;
}
.tree-detail-view-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 999997;
    display: none;
    transition: all .2s ease-out;
}
.tree-detail-view-container>.detail-modal-close-btn {
    position: absolute;
    display: flex;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 8px 10px 1px rgba(143,158,181,.14), 0 3px 14px 2px rgba(0,0,0,.12), 0 5px 5px -3px rgba(143,158,181,.2);
    color: #0ba25a;
    top: 30px;
    left: 30px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: all .2s ease-out;
    z-index: 999998;
}
.tree-detail-view-container>.tree-detail-content>.data-loading-animation-div {
    width: 100%;
    text-align: center;
    height: 100%;
    background-color: #fff;
    padding-top: 50px;
    z-index: 999997;
    position: absolute;
    top: 0;
    left: 0;
}
.tree-detail-view-container>.tree-detail-content.loaded>.data-loading-animation-div {
display: none;
}
.tree-detail-view-container .data-loading-animation-div>img {
    width: 100%;
    max-width: 320px;
}
body.tree-detail-open .tree-detail-view-container>.detail-modal-close-btn {
    opacity: 1;
}
.tree-detail-view-container>.detail-modal-close-btn>i {
    font-size: 2rem;
    font-weight: bold;
}
.tree-detail-view-container>.detail-modal-close-btn:hover {
    background-color: #0ba25a;
    color: #fff;
    text-decoration: none;
}
.tree-detail-view-container>.tree-detail-content {
    position: absolute;
    width: 90%;
    height: 100%;
    background-color: #fff;
    top: 0;
    right: -110%;
    box-shadow: -3px 0 5px 0px rgba(0, 0, 0, 0.45);
    transition: all .2s ease-out;
    overflow-y: auto;
}
.tree-detail-view-container>.overlay-div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #a0a0a0;
    opacity: 0;
    top: 0;
    left: 0;
    transition: all .2s ease-out;
}
body.tree-detail-open .tree-detail-view-container>.tree-detail-content {
    right: 0;
}
body.tree-detail-open .tree-detail-view-container>.overlay-div {
    opacity: 0.85;
}
.tree-img-favorite-btn {
    position: absolute;
    bottom: 15px;
    right: 15px;
    color: rgb(210, 23, 91);
    transition: all .1s ease-out;
}
.tree-img-favorite-btn:hover {
    text-decoration: none;
    color: rgb(210, 23, 91);
}
.tree-img-favorite-btn>i {
    font-size: 3rem;
    text-shadow: 0px 0px 5px rgba(247, 247, 247, 0.8);
    transition: all .1s ease-out;
}
.tree-img-favorite-btn>i:hover {
    font-size: 3.2rem;
    text-shadow: 0px 0px 10px rgba(247, 247, 247, 0.8);
}
.swal2-container {
    z-index: 999999;
}
@media (min-width: 993px) {
    .contact-single-container.text-container {
        margin-top: 20px;
    }
    .m-nav > .m-nav__item > .m-nav__link.ifundfilms-top-header>span {
        display: inline-block;
        text-align: center;
        width: 90px;
        height: 61px;
        padding-top: 10px;
        color: #67acc2;
        font-size: 12px;
        font-weight: bold;
    }
    .m-nav > .m-nav__item > .m-nav__link.ifundfilms-top-header>span:hover {
        display: inline-block;
        text-align: center;
        background-image: url(/assets/images/ifundfilms-funding_menu_hover.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        color: #fff;
    }
    .m-nav > .m-nav__item.active > .m-nav__link.ifundfilms-top-header>span {
        display: inline-block;
        text-align: center;
        background-image: url(/assets/images/ifundfilms-funding_menu_hover.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        color: #fff;
    }
}
@media (max-width: 994px) {
    .tree-detail-view-container>.tree-detail-content {
        width: 100%;
        height: 100%;
    }
    .m-topbar .m-topbar__nav.m-nav > .m-nav__item > .m-nav__link>span {
        padding: 0 10px;
    }
    .contact-single-container.text-container {
        margin-bottom: 30px;
    }
    .m-nav > .m-nav__item > .m-nav__link.ifundfilms-top-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .company-main-logo-img {
        max-width: 160px;
    }
    .special-tap-container {
        background-size: cover;
    }
    .instruction-containers-div {
        justify-content: start;
    }
    .m-topbar--on .m-topbar {
        z-index: 91;
    }
    .m-dropdown__wrapper.m-masked-dropdown {
        padding-top: 20px!important;
    }
    .m-dropdown.m-dropdown--header-bg-fill .m-masked-dropdown .m-dropdown__header {
        top: -20px;
    }
}

@media(max-width: 845px) {
    .join-big-img-a {
        right: 7%;
    }
}
@media(max-width: 780px) {
    .join-big-img-a {
        right: 15%;
        top: 25px;
    }
    .join-big-img-a:hover {
        top: 23px;
    }
    .ifund-slider-container {
        padding: 10px;
    }
}
@media(max-width: 630px) {
    .tree-detail-view-container>.detail-modal-close-btn {
        width: 30px;
        height: 30px;
        top: 10px;
        left: 10px;
    }
    .tree-detail-view-container>.detail-modal-close-btn>i {
        font-size: 1.4rem;
    }
    .join-big-img-a {
        position: relative;
        top: unset;
        right: unset;
    }
    .some-description-container {
        padding-bottom: 0;
    }
    .intro-video-container {
        max-width: 90%;
    }
}
